In [1]:
## combine datasets
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#df_full_corr_wide = df_full_corr.pivot_table(index = ['subject','alcoholic'], columns='condition',values=df_full_corr_col[3:]).reset_index() df_full_corr_wide 

df1 = pd.read_csv('../Featuer_Folder/jason_derek_comb.csv')
## reading dataframe
df2 = pd.read_csv('./data/output_250_550ms/SubjectFeatureMeanAcrossIndividualChannels_S1obj.csv')
df3 = pd.read_csv('./data/output_250_550ms/SubjectFeatureMeanAcrossIndividualChannels_S2match.csv')
df4 = pd.read_csv('./data/output_250_550ms/SubjectFeatureMeanAcrossIndividualChannels_S2nomatch.csv')

In [3]:
df1.head()

,Unnamed: 0,X1,subject,alcoholic,CP5_F2_match,CP5_F2_nomatch,CP5_F2_obj,CP2_FT8_match,CP2_FT8_nomatch,CP2_FT8_obj,...,CZ_P8_obj,C3_P8_match,C3_P8_nomatch,C3_P8_obj,P300M_match,P300M_nomatch,P300M_obj,cond_mean_match,cond_mean_nomatch,cond_mean_obj
0,1,0,co2a0000364,True,0.200030,0.211414,0.550771,-0.435512,-0.536246,-0.404910,...,0.295287,0.511846,0.440057,0.453594,-14.191272,-9.451732,9.249465,-15.778111,-14.104428,5.108323
1,2,1,co2a0000365,True,0.521817,0.272875,0.457085,-0.626006,-0.469507,-0.584003,...,0.147295,0.758492,0.143721,0.474611,-10.046991,-6.466113,-1.532767,-8.428477,-8.517720,-1.238217
2,3,2,co2a0000368,True,0.281701,0.562318,0.126599,-0.527075,-0.493691,-0.538776,...,-0.217391,0.506784,0.429274,-0.068739,-8.256139,-9.132713,1.054188,-9.597188,-12.980236,-0.784673
3,4,3,co2a0000369,True,0.857280,0.706349,0.707260,-0.848527,-0.712812,-0.759786,...,-0.160522,0.643504,0.382490,0.172355,-13.880230,-11.539432,-4.207363,-6.664550,-7.374259,-4.025566
4,5,4,co2a0000370,True,0.719606,0.812764,-0.049233,-0.472912,-0.489829,-0.607273,...,0.343789,0.202136,0.360705,-0.124192,-13.099023,-7.225065,-0.833637,-6.802524,-4.256625,0.271040

In [5]:
print(sorted(df1['subject'].unique()))

['co2a0000364', 'co2a0000365', 'co2a0000368', 'co2a0000369', 'co2a0000370', 'co2a0000371', 'co2a0000372', 'co2a0000375', 'co2a0000377', 'co2a0000378', 'co2a0000379', 'co2a0000380', 'co2a0000381', 'co2a0000382', 'co2a0000384', 'co2a0000385', 'co2a0000386', 'co2a0000387', 'co2a0000388', 'co2a0000390', 'co2a0000392', 'co2a0000394', 'co2a0000395', 'co2a0000396', 'co2a0000398', 'co2a0000400', 'co2a0000402', 'co2a0000403', 'co2a0000404', 'co2a0000405', 'co2a0000406', 'co2a0000407', 'co2a0000409', 'co2a0000410', 'co2a0000411', 'co2a0000412', 'co2a0000414', 'co2a0000415', 'co2a0000416', 'co2a0000417', 'co2a0000418', 'co2a0000419', 'co2a0000421', 'co2a0000422', 'co2a0000423', 'co2a0000424', 'co2a0000425', 'co2a0000426', 'co2a0000427', 'co2a0000428', 'co2a0000429', 'co2a0000430', 'co2a0000432', 'co2a0000433', 'co2a0000434', 'co2a0000435', 'co2a0000436', 'co2a0000437', 'co2a0000438', 'co2a0000439', 'co2a0000440', 'co2a0000443', 'co2a0000444', 'co2a0000445', 'co2a0000447', 'co2c0000337', 'co2c0000338', 'co2c0000339', 'co2c0000340', 'co2c0000341', 'co2c0000342', 'co2c0000344', 'co2c0000345', 'co2c0000346', 'co2c0000347', 'co2c0000348', 'co2c0000351', 'co2c0000352', 'co2c0000354', 'co2c0000355', 'co2c0000356', 'co2c0000357', 'co2c0000359', 'co2c0000362', 'co2c0000363', 'co2c0000364', 'co2c0000367', 'co2c0000370', 'co2c0000371', 'co2c0000373', 'co2c0000374', 'co2c0000378', 'co2c0000379', 'co2c0000381', 'co2c0000382', 'co2c0000383', 'co2c0000384', 'co2c0000387', 'co2c0000388', 'co2c0000389', 'co2c0000390', 'co2c0000391', 'co2c0000392', 'co2c0000393', 'co2c0000394', 'co2c0000395', 'co2c0000396', 'co2c0000397', 'co3a0000448', 'co3a0000450', 'co3a0000451', 'co3a0000453', 'co3a0000454', 'co3a0000455', 'co3a0000456', 'co3a0000457', 'co3a0000458', 'co3a0000459', 'co3a0000460', 'co3a0000461', 'co3c0000402']

In [6]:
print(sorted(df2['subject'].unique()))

['co2a0000364', 'co2a0000365', 'co2a0000368', 'co2a0000369', 'co2a0000370', 'co2a0000371', 'co2a0000372', 'co2a0000375', 'co2a0000377', 'co2a0000378', 'co2a0000379', 'co2a0000380', 'co2a0000381', 'co2a0000382', 'co2a0000384', 'co2a0000385', 'co2a0000386', 'co2a0000387', 'co2a0000388', 'co2a0000390', 'co2a0000392', 'co2a0000394', 'co2a0000395', 'co2a0000396', 'co2a0000398', 'co2a0000400', 'co2a0000402', 'co2a0000403', 'co2a0000404', 'co2a0000405', 'co2a0000406', 'co2a0000407', 'co2a0000409', 'co2a0000410', 'co2a0000411', 'co2a0000412', 'co2a0000414', 'co2a0000415', 'co2a0000416', 'co2a0000417', 'co2a0000418', 'co2a0000419', 'co2a0000421', 'co2a0000422', 'co2a0000423', 'co2a0000424', 'co2a0000425', 'co2a0000426', 'co2a0000427', 'co2a0000428', 'co2a0000429', 'co2a0000430', 'co2a0000432', 'co2a0000433', 'co2a0000434', 'co2a0000435', 'co2a0000436', 'co2a0000437', 'co2a0000438', 'co2a0000439', 'co2a0000440', 'co2a0000443', 'co2a0000444', 'co2a0000445', 'co2a0000447', 'co2c0000337', 'co2c0000338', 'co2c0000339', 'co2c0000340', 'co2c0000341', 'co2c0000342', 'co2c0000344', 'co2c0000345', 'co2c0000346', 'co2c0000347', 'co2c0000348', 'co2c0000351', 'co2c0000352', 'co2c0000354', 'co2c0000355', 'co2c0000356', 'co2c0000357', 'co2c0000359', 'co2c0000362', 'co2c0000363', 'co2c0000364', 'co2c0000367', 'co2c0000370', 'co2c0000371', 'co2c0000373', 'co2c0000374', 'co2c0000378', 'co2c0000379', 'co2c0000381', 'co2c0000382', 'co2c0000383', 'co2c0000384', 'co2c0000387', 'co2c0000388', 'co2c0000389', 'co2c0000390', 'co2c0000391', 'co2c0000392', 'co2c0000393', 'co2c0000394', 'co2c0000395', 'co2c0000396', 'co2c0000397', 'co2c1000367', 'co3a0000448', 'co3a0000450', 'co3a0000451', 'co3a0000453', 'co3a0000454', 'co3a0000455', 'co3a0000456', 'co3a0000457', 'co3a0000458', 'co3a0000459', 'co3a0000460', 'co3a0000461', 'co3c0000402']